*{
  touch-action: manipulation;
}


body {
  /* text-align: center; */
  background-color: #011F3F;
  /* background-color: rgb(25, 35, 25); */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container{
  /* margin-top: 175px; */
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#level-title,
#subtitle,
.play-btn {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  color: #FEF2BF;
  text-align: center;
}

#subtitle{
  font-size: 1rem;
  color: black;
  background-color: white;
  border: 40px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 25vw;
  height: 25vw;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 24%;
  bottom: 0;
  text-align: center;

  cursor: pointer;
  z-index: 10;
}

.game{
  position: relative;
}

.row{
  display: flex;
  justify-content: center;
}

.color-btn{
  width: 30vw;
  height: 30vw;
  border: 20px solid black;
  cursor: pointer;
}

#green{
  background-color: green;
  border-radius: 100% 0 0 0;
  /* margin: 0 10px 10px 0; */
}
#green.pressed{
  background-color: rgb(150, 255, 150) !important;
}

#red{
  background-color: red;
  border-radius: 0 100% 0 0;
  /* margin: 0 0 10px 10px; */
}

#red.pressed{
  background-color: rgb(255, 150, 150) !important;
}

#yellow{
  background-color: yellow;
  border-radius: 0 0 0 100%;
  /* margin: 10px 10px 0 0; */
}

#yellow.pressed{
  background-color: rgb(255, 255, 150) !important;
}

#blue{
  background-color: blue;
  border-radius: 0 0 100% 0;
  /* margin: 10px 0 0 10px; */
}

#blue.pressed{
  background-color: rgb(150, 150, 255) !important;
}

#subtitle{
  font-size: 1rem;
}


.container {
  display: block;
  min-width: 50%; 
  margin: auto;
  min-height: 70vh;
}

.btn {
  margin: 25px;
  display: inline-block;
  min-height: 200px;
  min-width: 200px;
  border: 20px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

/* .pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;

} */

.blink{
  transform: scale(1.2);
}

.invisible{
  visibility: hidden;
} 